$primary-color:#279EFF;
$secondary-color:#ffffff;
$success-color:#BFDB38;
$warning-color:#E55604;
$info-color:#579BB1;
$info-color2:#e1ecf0;
$danger-color:#D71313;
$bg-color-one:#e4e4e4;
$fontColor-one:#0866ff;
$btn-success:#42b72a;
$btn-success2:#309f1a;
$outline-color:#b6b6b6;
$outline-color2:#e7e7e7;
$outline-color3:#bfbfbf;
$outline-color4:#848484;




















